[MESSAGES CONTROL]

disable =
    # TODO(ssbarnea): remove temporary skips adding during initial adoption:
    import-error,
    invalid-name,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    no-member,
    no-self-use,
    no-value-for-parameter,
    raising-format-tuple,
    too-few-public-methods,
    undefined-loop-variable,

[REPORTS]
output-format = colorized
