[MESSAGES CONTROL]

disable =
    # TODO(ssbarnea): remove temporary skips adding during initial adoption:
    import-error,
    inconsistent-return-statements,
    invalid-name,
    logging-not-lazy,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    no-else-return,
    no-member,
    no-self-use,
    no-value-for-parameter,
    raising-format-tuple,
    redefined-argument-from-local,
    super-init-not-called,
    too-few-public-methods,
    undefined-loop-variable,
    undefined-variable,
    useless-object-inheritance,

[REPORTS]
output-format = colorized
